/* Global */
@font-face {
    font-family: 'Futura Now Text';
    src: url('../font/futura-now-text-rg.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura Now Text', sans-serif;
}

body {
    background: linear-gradient(108deg, #FFF 0%, #EBF2FF 50.53%, #D8E5FF 100%);
    font-family: 'Futura Now Text', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30%;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#McCann {
    color: #3321FF;
    font-size: 4rem;
    padding-left: 5%;
}

#Home{
    color: #3321FF;
    font-size: 2rem;
    padding-left: 5%;
}

nav {
    margin-top: 20px;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 56px;
}
  
nav a {
    color: #555;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-align: start;
    background-color: none;
    transition: background-color 0.3s;
}

nav a img {
    margin-right: 10px;
    max-height: 20px;
}

nav a.last-child {
    margin-top: 60%;
}

nav a:hover {
    background-color: #3321FF;
    color: #FFF;
}

nav a:hover img {
    filter: brightness(0) invert(1);
}

nav a.selected {
    background-color: #3321FF;
    color: #fff;
}

nav a.selected img {
    filter: brightness(0) invert(1);
}

.SectionMiseForme {
    width: 70%;
    margin-left: 30%;
    box-sizing: border-box;
}

.input-label {
    position: relative;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-radius: 49px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
}

.SectionMiseForme button {
    margin-left: 5%;
    border-radius: 49px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    padding: 10px;
    width: 50px;
    height: 50px;
}

#FlagCorectif img{
    width: 100%;
    height: 95%;
    object-fit: contain;
}

.second-sec button{
    border-radius: 74px;
    background: #3321FF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    width: 450px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 32.04px; /* 133.5% */
}

#first-line {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

#sec-line {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

#last-line{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#date, #left, #right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    margin-right: auto;
}

#date {
    width: 313px;
    height: 51px;
}

#left, #right {
    width: 42px;
    height: 51px;
}

#fuseau {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    width: 133px;
    height: 51px;
    margin-left: 55%;
}

#down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
    margin-left: 1%;
}

#sec-vide{
    width: 100%;
    height: 294px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.20);
}